
		body {
			font-size: 18px;
			background-color: #ffe;
			color: #210;
		}

		#contenedor {
			max-width: 40ch;
			margin: 2rem auto;
			padding: 1rem;
		}

		h1 {
			font-size: 2rem;
			text-align: center;
		}

		p {
			font-family: serif;
		}

		#primer-parrafo {
			font-size: 1.3rem;
			background-color: #cee;
		}

		p.importante em {
			font-weight: bold;
			color: #933;
		}

		p.novelas a {
			outline: 1px solid #333
		}
		p.novelas a:hover {
			text-decoration: underline;
			background-color: #ccd;
		}

		body p.fuente.parrafo {
			color: #000 !important;
			font-size: 0.9rem;
			text-align: center;
		}

        p:not(#primer-parrafo):not(.fuente) {   /*busca los textos que no tengan id*/
     background: rgba(190, 120, 240, 0.6);
        }

.complicado {            
  color: #C62;
}
